img, !icons {
  max-width: 100%;
  margin: 0;
}

iframe {
  margin: 10px;
}

.TopPage {
  min-width: 100vw;
  color: #fff;
  display: block;
}

.ContentsContainer {
  min-height: 100vh;
  min-width: 100vw;
}

.flex-container {
  display:flex;
  justify-content: center;
  min-width: 100vw;
}

.flexcontents {
  margin: 0 10px;
}

.bandcampiframes {
  max-width: 90%;
  height: 400px;
  border: 0;
}
.bandcampiframes-for-phone {
  max-width: 90%;
  height: 250px;
  border: 0;
}

.videos {
  width: 340px;
  height: 230px;
}

.videos-for-pc {
  width: 500px;
  height: 360px;
}

.img-collabo {
  width: 90%;
}

.profilecentens {
  width: 480px;
}

.profileimg {
  margin: 0 !important;
  max-width: 100%;
}

.archives {
  min-width: 100%;
  display:flex;
  justify-content: center;
}

.archives_frame {
  border: 1px solid pink;
  height: 600px;
  width: 80%;
  padding: 15px;
}
